# Servidor API REST Nest.js
API_BASE_URL=http://localhost:8000
# Servidor de imágenes NGINX
IMAGE_SERVER_URL=http://localhost:8090

# Claves para el almacenamiento de tokens
ACCESS_KEY=access_token
REFRESH_KEY=refresh_token